.background-container {
    background-image: url("https://img.freepik.com/free-photo/cosmetics-product-advertising-stand-exhibition-wooden-podium-green-background-with-leaves-sha_1258-170138.jpg?t=st=1695045153~exp=1695048753~hmac=edf5dfd29d4c5f5ded6e5a35212caf7b57a117198628db2366e1da88463edc2d&w=826");
    background-size: cover;

}
.fashion-card {
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.favouriteplacebg-container {
    background-image: url("https://img.freepik.com/free-photo/fog-dark-clouds-mountains_1204-503.jpg?w=900&t=st=1695214362~exp=1695214962~hmac=5e8a5830dc09bbd1a46407ac54e7c2aea24575836241f22a11a5345d68ec9ab1");
    background-size: cover;
}
.main-heading {
    color: white;
    font-family: 'Roboto';
    font-size: 38px;
    font-style: italic;
}
.favouriteplace-card-container {
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    padding: 16px;
}
.favoriteplace-card-heading {
    color: black;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: bold;
    
}
.favoriteplace-card-image {
    height: 120px;
    width: 130px;
}

.detailedviewbg-container {
    background-image: url("https://img.freepik.com/free-photo/clean-cascade-scenery-green-shore-tourism_1417-1353.jpg?w=360&t=st=1695312973~exp=1695313573~hmac=bef4d68c899a2186fb6aef74d498eaf18fd64518095ed90859d53e32669f73e8");
    background-size: cover;
    
}
.main-heading {
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
}
.card-container {
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 25px;
}
.card-heading {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}
.paragraph {
    font-family: 'Times New Roman';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}
.text-container {
    padding: 10px;
}

h1{
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px soid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}
form#register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

  